@using Microsoft.AspNet.Identity
@model  GameReview.ViewModels.GameDetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row contentDivider"></div>

<div class="row" id="gameInfoRow">


    <div class="col-lg-6" id="mobileGameTitle">
        <!--disappears on desktops and up-->
        <h1 class="text-center">@Model.Game.Name</h1>
    </div>

    <div class="col-lg-3 text-center order-lg-1" id="coverColumn">
        <img src="@Model.Game.CoverArtUrl" class="img-fluid" id="gameCoverImg" />

        <div>
            <h5 id="ageRating" class="text-center">@Model.Game.AgeRatingImage</h5>
        </div>
    </div>

    <div class="line notDesktop"></div>

    <div class="col-lg-6 order-lg-2">
        <div class="row" id="titleRow">
            <h1 class="gameTitle fontFam" id="desktopGameTitle">@Model.Game.Name</h1> <!--Only shows on desktops and up-->
        </div>

        <div class="fontFam">
            <p class="bottomBorderGrey"><span>Release Date: </span> @Model.Game.FirstReleaseDate</p>
            <p class="bottomBorderGrey">
                <span>Involved Companies: </span> @Model.Game.InvolvedCompanies
            </p>
            <p class="bottomBorderGrey">
                <span>Platforms: </span> @Model.Game.Platforms
            </p>
            <p class="bottomBorderGrey"><span>Websites: </span><a href="@Model.Game.Websites">@Model.Game.Name</a></p>
            <p class="bottomBorderGrey"><span>Genres: </span>@Model.Game.GenreName</p>
        </div>

    </div>

    <div class="line notDesktop"></div>

    <div class="col-lg-3 order-lg-3" id="ratingRow">
        <div class="row rowSpacing">
            <h3 class="text-center pinkUnderline" id="ratingTitle">Rating</h3>
        </div>

        <div class="circle d-flex align-items-center justify-content-center ratingCircle">
            <h3 class="fontFam ">@Model.Game.RatingScore%</h3>
        </div>

    </div>
</div>

<div class="line"></div>

<div class="row rowSpacing">
    <div class="col">
        <h4 class="boldFont fontFam pinkUnderline">Summary</h4>
        <div class="container" id="summaryText">
            <p class="fontFam">@Model.Game.Summary</p>

        </div>
    </div>
</div>

<div class="line"></div>



<div class="row rowSpacing">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 class="boldFont fontFam pinkUnderline">Reviews</h4>
            </div>
            <div class="col">
                <button class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#reviewFormModal">Add Review</button>
            </div>
        </div>
        <div class="row">
            
            @foreach (var review in Model.Review)
            {
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-3">
                                    <img src="../../Content/Images/ppTest.png" class="img-fluid" />
                                </div>
                                <div class="col-9">
                                    <h5 class="fontFam">@review.User.FirstName</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title fontFam">@review.RatingScore</h5>
                            <p class="card-text fontFam">
                                @review.ReviewText
                            </p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>



<div class="modal fade" id="reviewFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @if(User.Identity.IsAuthenticated) 
            {
        <div class="modal-body">
            @using (Html.BeginForm(null, null, FormMethod.Post, new {id = "reviewForm"}))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Review1.RatingScore, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Review1.RatingScore, new { @class = "form-control", id = "reviewRating", type = "number"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Review1.ReviewText, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Review1.ReviewText, new { @class = "form-control", id = "reviewText" })
                    </div>
                </div>
            }
        </div>
            }
            else
            {
                <div class="modal-body">
                    <h4 class="text-center">You need to log in to leave a review.</h4>
                    <hr />
                    <div class="row align-content-center justify-content-center">
                        <li class="btn modalUserBtns">@Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="loginBtns"})</li>
                        <li class="btn modalUserBtns">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "loginBtns" })</li>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            }
        <button type="" class="btn btn-primary" id="submitReview">Submit</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#submitReview").click(function() {
            var rating = $("#reviewRating").val();
            var text = $("#reviewText").val();
            var userId = "@HttpContext.Current.User.Identity.GetUserId()";
            var gameId = @Model.Game.Id; 

            var reviewJson = {
                UserId: userId,
                ReviewText: text,
                RatingScore: rating,
                gameId: gameId
            }


            
             $.ajax({
                dataType: 'json',
                type: 'POST',
                url: '/api/reviews/',
                data: JSON.stringify(reviewJson),
                contentType: 'application/json; charset=utf-8',
                 success: function (data) {
                     //clear model, exit it and display bootbox pop up saying submitted
                     $("#reviewFormModal").modal('hide');
                     $('#reviewForm').trigger("reset");
                     bootbox.alert("Your review has been submitted")
                 },
                error: function() {
                    console.log("error again!");
                    console.log(data);
                }

            });
            
             

        });
    });
</script>