@using Microsoft.AspNet.Identity
@model  GameReview.ViewModels.GameDetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="desktopBlurImage" class="row w-100 m-auto">
    <div id="parrallaxImage" class="w-100"></div>
</div>

<div id="gameInfoRow" class="row">
    <!--Image and platforms-->
    <div class="col-4 text-center game-info-row-blur position-relative">
        <img src="@Model.Game.CoverArtUrl" id="gameCoverImg" class="img-fluid m-1" />
        <div class="row m-auto justify-content-around">
            @foreach (var platform in Model.Platforms)
            {
                <div id="platforms" class="col-4 col-lg-2 p-0 m-1">
                    <img src="@platform.ImageAddress" class="img-fluid" alt="@platform.Name"/>
                </div>
            }
            

        </div>
    </div>
    <!--Title, rating and genres-->
    <div id="titleCol" class="col-8 pr-0 pt-4 pt-xl-0 game-info-row-blur d-flex">
        <div id="gameTextRow" class="row w-100  align-content-center">

            <h1 id="gameTitle" class="text-white boldFonts">@Model.Game.Name<span id="gameReleaseYear" class="boldFonts"> @Model.Game.FirstReleaseDate </span><span id="ratingBadge" class="badge">94%</span></h1>
            <div class="d-flex justify-content-start w-100">
                @foreach (var genre in Model.Game.GenreName)
                {
                    <button type="button" class="btn btn-primary btn-sm genreBtn border-0 ml-1 mr-2">@genre</button>
                }


            </div>
        </div>


    </div>
</div>

<div class="row d-flex align-items-end">
    <!--Age Rating and involved companies-->
    <div class="col-md-4 h-100 fontStyle">
        @if (Model.Game.AgeRatingImage.Any())
        {
            <div class="line"></div>
            <div class="row w-100 m-auto">
                <div class="col-5 pl-0">
                    <h5 class="text-white boldFonts">Age Rating: </h5>
                </div>
                <div class="col-7 text-right">
                    @foreach (var rating in Model.Game.AgeRatingImage)
                    {
                        <img id="ageRating" src="@rating" class="img-fluid m-1"/>
                    }
                </div>
            </div>
        }
        
        <div class="line"></div>
        <div class="row w-100 m-auto">
            <div class="col-4 pl-0">
                <h5 class="text-white boldFonts">Involved Companies: </h5>
            </div>
            <div class="col-8 text-right text-white">
                <ul>
                    @foreach (var company in Model.Game.InvolvedCompanies)
                    {
                        <li>@company</li>
                    }
                </ul>
            </div>
        </div>
        <div class="line"></div>
    </div>
    <!--Summary-->
    <div class="col-md-4 h-100">
        <h5 class="text-white boldFonts">Summary:</h5>
        <div class="summaryText">
            <p class="text-white">@Model.Game.Summary</p>
        </div>
        <div class="line"></div>
    </div>
    <!--Breakdown of ratings-->

    <div class="col-md-4 h-100">
        <h5 class="text-white boldFonts">Ratings Breakdown:</h5>
        <canvas id="myChart"></canvas>
        <div class="line"></div>
    </div>
</div>

<!--Reviews-->
<div class="row">
    <div class="col"><h5 class="text-white boldFonts">Reviews:</h5></div>
    <div class="row w-100 m-auto">
        <div class="col-sm-4 w-90 m-auto">
            <div class="card reviewCard">
                <div class="card-header darkBlue">
                    <div class="row">
                        <div class="col-3">
                            <img src="https://assets.manutd.com/AssetPicker/images/0/0/10/126/687734/Legends-Profile_George-Best21523521860789_thumb.jpg" class="img-fluid" />
                        </div>
                        <div class="col-9">
                            <p>Person Name</p>
                        </div>
                    </div>
                </div>
                <div class="card-body navy">
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
