<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/lib")


    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-rfs/bootstrap-rfs.css" rel="stylesheet">
    <script src="https://unpkg.com/@("@")webcreate/infinite-ajax-scroll/dist/infinite-ajax-scroll.min.js"></script>
    <script src="~/Scripts/scripts.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    @RenderSection("scripts", required: false)
</head>
<body>

@Html.Partial("Navbar")

<div class="container body-content fontStyle">
    @RenderBody()
    <hr/>
    <footer>
       <input type="hidden" id="token" value="@Html.AntiForgeryToken()"/>
    </footer>
</div>


</body>
</html>
